*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: black;}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




body{font-size: 18px; line-height: 30px; font-family: 'GangwonEdu_OTFBoldA';}

.header{width: 100%; height: 246px;}
.header_logo{width: 120px; height: 159px; margin: 30px auto; }

/*네브메뉴*/
.header_inner{width: 1320px; height: 50px; margin: auto;}

.header_inner ul li{float: left; width: 20%; padding: 10px 0px; text-align: center;}
.header_inner ul li a{font-size: 20px;  }

/*네브메뉴*/

.banner{width: 100%;
    }
.banner img{display: block; width: 100%;}

.box1{width: 100%; height: 625px; 
    background: url(../images/bg1.jpg) no-repeat 100%; margin: 150px 0px;}

.box1_inner{width: 100%; height: 500px; }
.box1_inner ul{float: right; margin-top: 60px; margin-right: 100px; }
.box1_inner ul li{float: left; margin-left: 30px;}

.box1_text{padding: 150px 0px;}
.box1_text h2{color: #25a325; padding-bottom: 30px;}

.box2{width: 100%; height: 625px;
     background: url(../images/bg2.jpg) no-repeat 100%; 
    padding-bottom:100px;
    }
.box2_inner{height: 500px; margin: 0 auto;}
.box2_inner ul{padding: 62px 0px; margin-left: 100px;}
.box2_inner ul li{float: left; margin-right: 30px;}

.box2_text{padding: 150px 0px;}
.box2_text h2{color: #00a0e9; padding-bottom: 30px;}

/*슬라이드 배너*/
 .sub_banner{width: 1320px; height: 500px; margin: 150px auto;}

.icon{width: 1320px; height: 300px; margin: 50px auto;}
.icon ul li{float: left; width: 25%; padding: 0px 65px; text-align: center;} 





/*호버배너*/

.mainpage .main_visual .mainviewcont.main_visual_fixed{position:relative;
    /* padding-top:10%; */
    overflow:hidden;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view{width:100%;height:584px;font-size:0; text-align: center;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap{position:absolute;top:0;height:584px;background-size:cover;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap .viewbg{visibility:hidden;position:absolute;top:0;left:0;right:0;bottom:0;background-size:cover;background-position:50% 50%;
    opacity:0;transition:opacity .1s ease, transform 5s ease 1s;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover{z-index:1;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover .viewbg{visibility:visible;opacity:1;transform:scale(1.03);}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual{position:absolute;top:0;left:0;display:table;width:100%;height:584px;z-index:10;table-layout:fixed;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a{position:relative;display:table-cell; }
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a:after { content:''; display:block; position:absolute; top:0; left:0; bottom:0; z-index:1; width:1px; background:rgba(255,255,255,0.1);}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap{position:absolute;
    top:22%;left:70px;
    right:70px;
    display:block; 
    /*추가*/
    text-align: center;

}
.text_wrap{font-family:'Quicksand', sans-serif;;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap .title{
    display:block;margin-bottom:20px;
    font-family:'Quicksand', sans-serif;;font-size:64px;
    font-weight:100;color:#fff;
    letter-spacing:0;
      /* 백그라운드 안보여서 추가*/
    padding-bottom:137px;
}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap .desc{font-size:17px;font-weight:400;color:#fff;line-height:1.5;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.on { background:rgba(0,0,0,0);}
/* .mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.on .text_wrap {} */
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.off { background:none;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.off .text_wrap {opacity:0.5;}


.pd{margin-top:30px;}


/*title 백그라운드로 line넣음 */
.title{background: url(../images/line.png) no-repeat bottom;}

/*푸터*/
.footer{width: 100%; height: 400px; background-color: #fedfac; margin-top: 100px; position:relative; }
.footer_inner{width: 1320px; height: 300px; margin: auto;  padding: 40px 0px; text-align: center; }

.footer_inner ul{margin-left: 510px; margin-top: 20px;}
.footer_inner ul li{float: left; }
.footer_inner ul li a{display: block; padding: 0px 10px; }

.footer_inner ul li:nth-child(2){border-left: solid 1px black; border-right: solid 1px black;}

.sns{position: absolute; top: 300px; right: 200px;}
.sns ul li{float: left; padding: 10px ; ; }

.top{position: fixed; bottom:100px; right: 100px; z-index: 99;}